form {
    background-color: rgb(73, 72, 83);
    border-radius: 10px;
}


label {
    color: #f0f0f0;
    margin-bottom: 2px;
}

input, select {
    background-color: rgb(105, 103, 118) !important;
    color: #f0f0f0 !important;
    border: 1px solid #444 !important;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: #f0f0f0 !important;
}

.form-group {
    padding: 15px
}

.title {
    text-align: center;
}

.title-text { 
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 10px 0px
}