.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background-color: #1c1c22;
}

.header p {
    color: white;
    font-family: Roboto, Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}