p {
    color: white;
    padding: 10px;
    font-family: Roboto, Montserrat;
    font-size: 1.5rem;
    margin: 0 !important;
}

.navbar.custom-navbar {
    height: 100%;
    align-items: center;
    justify-content: center;
}